<div class="wrapper">
    <div class="sidebar">
        <div class="sidebaricon">
            <button (click)="Nextdashboard()">
        <mat-icon class="group" matPrefix svgIcon="Group"></mat-icon>
      </button>
            <button (click)="Nexttask()">
        <mat-icon
          class="vectorsidebar"
          matPrefix
          svgIcon="Vectorsidebar"
        ></mat-icon>
      </button>
            <button (click)="Logout()" class="logoutbutton">
        <mat-icon matPrefix svgIcon="logout"></mat-icon>
      </button>
        </div>
    </div>
</div>