* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper .sidebar {
    background: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    // padding: 20px 0;
    // transition: all 0.5s ease;
}

.group {
    position: absolute;
    bottom: 85.43%;
    height: 30px;
    width: 30px;
    left: 10px;
    top: 80px;
    border-radius: 0px;
}

.vectorsidebar {
    position: absolute;
    bottom: 76.43%;
    height: 25px;
    width: 18.75px;
    left: 16px;
    top: 140px;
    border-radius: 0px;
}

.logoutbutton {
    border-color: #fff;
    border-style: solid;
    border-radius: 0px;
    bottom: 85.43%;
    height: 30px;
    width: 30px;
    left: 10px;
    top: 80px;
    margin-top: 650px;
    margin-left: 8px;
}