<div class="headertop">
    <div class="container">
        <div class="row">
            <div class="header-top-left">
                <label>{{ headertitle }}</label>
                <mat-icon class="vector" *ngIf="iconheader" matPrefix svgIcon="{{ iconheader }}"></mat-icon>
            </div>
            <div class="header-top-right">
                <mat-icon class="avatar" matSuffix svgIcon="Avatar"></mat-icon>
                <h2>Kate Westrich</h2>
            </div>
        </div>
    </div>
</div>